@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: rgba(144, 144, 144, 0.721);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin: 5px;
}

.homePage h3 {
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 15px;
    color: rgba(144, 144, 144, 0.721);
    font-weight: 600;
    font-family: 'Montserrat';
}


.fa {
    margin-left: 55px;
    padding: .5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    float: top right;
    color: rgba(144, 144, 144, 0.721);
}

.fa:hover {
    opacity: 0.7;
    transform: rotate(180deg);

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-family: 'Montserrat';
    font-size: 3em;
    font-weight: 500;
    color: rgba(144, 144, 144, 0.721);
    border-bottom: 3px solid white;
    padding-bottom: 12px;
}

.container .heading h3 span {
    font-family: 'Major Mono Display';
    font-weight: 100;
    color: white;
}

.container .images img {

    position: relative;
    object-fit: cover;
    height: 475px;
    width: 45%;
    padding: 20px 15px 0px 0px
}

.text-container {
    float: right;
    padding-top: 15px;
    width: 53%;
    height: auto;
    position: relative;
    word-wrap: break-word;

}

h3 {
    color: white
}

.text-container h2 {
    color: white;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 200;


}

.text-container p {
    color: white;
    font-family: 'Titillium Web';
    font-size: 15px;
    font-weight: 100;
}