@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: rgba(144, 144, 144, 0.721);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin: 5px;
}

h3 {
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 3px;

}

.fa {
    margin-left: 55px;
    padding: .5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    float: top right;
    color: rgba(144, 144, 144, 0.721);
}

.fa:hover {
    opacity: 0.7;
    transform: rotate(180deg);

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container .heading h3 {
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid white;
    padding-bottom: 12px;
}

.container .heading h3 span {
    font-family: 'Major Mono Display';
    font-weight: 100;
    color: white;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .dream img {
    width: 100%;
    padding-bottom: 15px;
}

.container .btn {
    margin: 40px 0 70px 0;
    background-color: black;
    padding: 15px 40px:
}

.container .btn a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Major Mono Display';
    letter-spacing: 3px;
}

@media only screen and (max-width:769px) {
    .container .box {
        flex-direction: column;
    }

    .container .box .dream {
        width: 100%;
    }


}

@media only screen and (max-width:643px) {
    .container .heading {
        width: 100%
    }

    .container .heading h3 {
        font-size: 1em;
    }
}

img {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}