body {
    -webkit-font-smoothing: antialiased;
    background-color: #212323;
    color: #dfeae9;
    font-family: "Aften Screen Regular", "Aften Screen Regular", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}