@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
    -webkit-font-smoothing: antialiased;
    background-color: black;
    color: rgba(144, 144, 144, 0.721);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    margin: 5px;
}

h3 {
    font-size: 20px;
    padding-left: 60px;
    padding-bottom: 3px;

}

.fa {
    margin-left: 55px;
    padding: .5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    float: top right;
    color: rgba(144, 144, 144, 0.721);
}

.fa:hover {
    opacity: 0.7;
    transform: rotate(180deg);

}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white
}